<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- bean definitions here -->
    <bean id="alien" class="org.example.Alien" scope="singleton" autowire="byName">
             <property name="age" value="88"/>
     <property name="comp">
         <bean id="comp" class="org.example.Laptop" primary="true" lazy-init="true"> </bean>
     </property>

<!--        <constructor-arg type="org.example.Laptop" ref="lap"/>-->
<!--        <constructor-arg type="int" value="96"/>-->

<!--        <constructor-arg index="1" ref="lap"/>-->
<!--    <constructor-arg index="0" value="25"/>-->
        <!--  <constructor-arg name="lap" ref='lap'/>-->
       <!--   <constructor-arg name="age" value="7"/>-->

      </bean>

     <!-- <bean id="comp" class="org.example.Laptop" primary="true" lazy-init="true"> </bean>-->
    <bean class="org.example.Desktop"> </bean>
  </beans>

